.App {
  text-align: center;
  color: #f8f9fa;
}
.App-header{
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* Default Dark Theme */
body {
  background-color: #282c34; /* Dark background */
  color: #f8f9fa; /* Light text */
  margin: 0;
  transition: background-color 0.5s, color 0.5s;
}

.bg-login{
  background-image: url("/public/images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-attachment: fixed;
  
}

/* Light Theme */
.light-theme{
  background-color: #f8f9fa; /* Light background */
  color: #343a40; /* Dark text */
}
.dark-theme{
  background-color: #343a40; /* Light background */
  color: #f8f9fa; /* Dark text */
}

/* Additional Styles */
.bg-purple {
  background-color: #702cf9e1;
}


.dropdown-item.active, .dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: #702cf9e1 !important;
}







