.App-header {
  /* Pushes the footer to the bottom */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.bg-login {
  background-image: url("/public/images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-attachment: fixed;
}

/* Additional Styles */
.bg-purple {
  background-color: #866ec7 !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
}

/* Header menu get behind the button that's why added this CSS */
.input-group .btn {
  z-index: 0 !important;
}

.progress-fade {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.progress-fade.hide {
  opacity: 0;
  pointer-events: none;
}

.dataTables_scrollBody {
  overflow: visible !important;
}

.dropdown-menu,
.show {
  overflow: visible !important;
}

table.dataTable {
  width: 100% !important;
}

/* ================= LIGHT THEME ================= */
[data-mdb-theme="light"] .dtfc-fixed-left,
[data-mdb-theme="light"] .dtfc-fixed-left table,
[data-mdb-theme="light"] .dtfc-fixed-left th,
[data-mdb-theme="light"] .dtfc-fixed-left td {
  background-color: #ffffff !important;
  color: #212529 !important;
}

/* ================= DARK THEME ================= */
[data-mdb-theme="dark"] .dtfc-fixed-left,
[data-mdb-theme="dark"] .dtfc-fixed-left table,
[data-mdb-theme="dark"] .dtfc-fixed-left th,
[data-mdb-theme="dark"] .dtfc-fixed-left td {
  background-color: #403f3f !important;
  color: #f8f9fa !important;
}

/* ================= HEADER Z-INDEX ================= */
table.dataTable thead th.dtfc-fixed-left {
  z-index: 0 !important;
}

/* ================= BODY Z-INDEX ================= */
table.dataTable tbody td.dtfc-fixed-left {
  z-index: 0 !important;
}

table.dataTable th,
table.dataTable td {
  white-space: nowrap;
}
.page-link.active,
.active {
  z-index: 0 !important;
}

/* ================= SEPARATOR ================= */
.dtfc-fixed-left {
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.6);
}

.table-wrapper {
  /*max-height: 360px;*/
  /* Adjust height as needed */
  /*overflow-y: auto;*/
}

table.dataTable tbody td.dt-control:before {
  display: none !important;
}

table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order::before {
  display: none !important;
}

table.dataTable tbody td,
table.dataTable th {
  table-layout: fixed !important;
  white-space: nowrap !important;
}

.upload-label {
  cursor: pointer;
  color: #0d6efd;
  font-size: 1.5rem;
}
.upload-label:hover {
  color: #0a58ca;
}
input[type="file"] {
  display: none; /* Hide the real input */
}
.bi-mortarboard-fill {
  display: inline-block;
  transition: transform 0.6s ease;
}

.bi-mortarboard-fill.flipped {
  transform: rotateY(180deg);
}

.top {
  display: flex;
  align-items: center; /* Vertically align items */
  justify-content: space-between; /* Distribute space between elements */
}

.dataTables_filter {
  /* Adjust as needed for your specific setup */
  margin-left: 10px; /* Example spacing */
}

.notice-item:hover {
  background-color: #e9ecef2e !important;
  transform: scale(1.01);
  transition: 0.2s ease;
}

/* Only open THIS dropdown on hover */
.dropdown-hover:hover .dropdown-menu {
  display: block;
}

.dropdown-hover .dropdown-menu {
  margin-top: 0;
}

.dropdown-hover .dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.dropdown-hover:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

/* Remove full tab borders & background */
.nav-tabs .nav-link {
  border: none !important;
  background: transparent !important;
  color: #bbb; /* inactive color */
}

/* Active tab: underline only */
.nav-tabs .nav-link.active {
  border: none !important;
  border-bottom: 2px solid #0d6efd !important; /* blue underline */
  color: #fff; /* active text */
}

/* Remove card header border */
.card-header {
  border-bottom: none !important;
  background: transparent;
}

/* Hover effect */
.nav-tabs .nav-link:hover {
  border: none;
}

.notice-desc {
  font-size: 0.9rem;
}

/* Center dark rounded box */
.blockui-box {
  background: rgba(30, 30, 30, 0.489);
  padding: 18px 26px;
  border-radius: 12px;
  display: flex;
  align-items: center !important;
  gap: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

/* Text */
.blockui-text {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}

.blockui-icon {
  color: #f7f7f7;
  margin-left: 75px;
}

@media (max-width: 992px) {
  .main-body {
    margin-top: 0.5rem;
    margin-bottom: 0%;
  }

  .dash {
    margin-top: 20px !important;
  }
}

@media (max-width: 455px) {
  .dept {
    margin-top: 1rem !important;
  }
}

@media (max-width: 768px) {
  .dt-buttons .btn {
    width: 100%;
    margin-bottom: 6px;
  }
}
