.App-header {
  /* Pushes the footer to the bottom */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.bg-login {
  background-image: url("/public/images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-attachment: fixed;
}

/* Additional Styles */
.bg-purple {
  background-color: #866ec7 !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
}

/* Header menu get behind the button that's why added this CSS */
.input-group .btn {
  z-index: 0 !important;
}

.dropdown-toggle::after {
  color: #fff !important;
}

.table-wrapper {
  max-height: 350px;
  /* Adjust height as needed */
  overflow-y: auto;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  /* Light gray bg to match Bootstrap table */
  z-index: 1;
}

table {
  table-layout: fixed;
}

.col-srno {
  width: 85px;
  min-width: 85px;
  max-width: 85px;
}
@media (min-width: 356px) {
  .input-group-limit {
    max-width: 185px;
  }
}
