.App-header {
  /* Pushes the footer to the bottom */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.bg-login {
  background-image: url("/public/images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-attachment: fixed;
}

/* Additional Styles */
.bg-purple {
  background-color: #866ec7 !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
}

/* Header menu get behind the button that's why added this CSS */
.input-group .btn {
  z-index: 0 !important;
}

.dropdown-toggle::after {
  color: #fff !important;
}

.table-wrapper {
  max-height: 350px;
  /* Adjust height as needed */
  overflow-y: auto;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  /* Light gray bg to match Bootstrap table */
  z-index: 1;
}

table {
  table-layout: fixed;
}

.col-srno {
  width: 85px;
  min-width: 85px;
  max-width: 85px;
}

.upload-label {
  cursor: pointer;
  color: #0d6efd;
  font-size: 1.5rem;
}
.upload-label:hover {
  color: #0a58ca;
}
input[type="file"] {
  display: none; /* Hide the real input */
}
.bi-mortarboard-fill {
  display: inline-block;
  transition: transform 0.6s ease;
}

.bi-mortarboard-fill.flipped {
  transform: rotateY(180deg);
}

@media (max-width: 992px) {
  .main-body {
    margin-top: 0.5rem;
    margin-bottom: 0%;
  }

  .dash {
    margin-top: 20px !important;
  }
}

@media (max-width: 455px) {
  .dept {
    margin-top: 1rem !important;
  }
}

@media (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background: #fff;
  }

  td {
    text-align: right;
    position: relative;
    padding-left: 50%;
    border-bottom: 1px solid #eee;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 15px;
    width: 45%;
    padding-right: 10px;
    font-weight: bold;
    text-align: left;
    color: #333;
  }
}
