.App-header {
  /* Pushes the footer to the bottom */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.bg-login {
  background-image: url("/public/images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-attachment: fixed;
}

/* Additional Styles */
.bg-purple {
  background-color: #866ec7 !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
}

/* Header menu get behind the button that's why added this CSS */
.input-group .btn {
  z-index: 0 !important;
}

.dropdown-toggle::after {
  color: #fff !important;
}

.table-wrapper {
  max-height: 360px;
  /* Adjust height as needed */
  overflow-y: auto;
}

table.dataTable tbody td.dt-control:before {
  display: none !important;
}

table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order::before {
  display: none !important;
}

table.dataTable tbody td,
table.dataTable th {
  table-layout: fixed !important;
  white-space: nowrap !important;
}

.upload-label {
  cursor: pointer;
  color: #0d6efd;
  font-size: 1.5rem;
}
.upload-label:hover {
  color: #0a58ca;
}
input[type="file"] {
  display: none; /* Hide the real input */
}
.bi-mortarboard-fill {
  display: inline-block;
  transition: transform 0.6s ease;
}

.bi-mortarboard-fill.flipped {
  transform: rotateY(180deg);
}

.rc-anchor-dark {
  background: #222222e8 !important;
  color: #fff !important;
}

.rc-anchor-dark.rc-anchor-normal,
.rc-anchor-dark.rc-anchor-compact {
  border: 1px solid #222222e8 !important;
}

@media (max-width: 992px) {
  .main-body {
    margin-top: 0.5rem;
    margin-bottom: 0%;
  }

  .dash {
    margin-top: 20px !important;
  }
}

@media (max-width: 455px) {
  .dept {
    margin-top: 1rem !important;
  }
}

@media (max-width: 768px) {
  .dt-buttons .btn {
    width: 100%;
    margin-bottom: 6px;
  }
}

@media print {
  table.dataTable {
    table-layout: fixed !important;
    width: 100% !important;
  }

  table.dataTable th:nth-child(5),
  table.dataTable td:nth-child(5) {
    width: 20% !important; /* Email */
  }

  table.dataTable th:nth-child(6),
  table.dataTable td:nth-child(6) {
    width: 20% !important; /* Username */
  }

  table.dataTable td,
  table.dataTable th {
    white-space: nowrap !important;
  }
}
