@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-purple {
  background-color: #866ec7 !important;
}

.form-floating > .form-control:not(:placeholder-shown) ~ label::after {
  background-color: #00000000 !important;
}
